@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewBag.Kimlik.Title</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="@ViewBag.Kimlik.Keywords" />
    <meta content="@Html.Raw(ViewBag.Kimlik.Description)" name="descriptison">
    <link href="@ViewBag.Kimlik.LogoURL" rel="icon">
    <link href="@ViewBag.Kimlik.LogoURL" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fcd59919ba.js" crossorigin="anonymous"></script>
    <link href="~/Content/css/Site.css" rel="stylesheet" />
    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "+90 5323324082",
                call_to_action: "Merhaba, nasıl yardımcı olabilirim?",
                position: "left",
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
    <!-- =======================================================================================-->
</head>
<body id="top">
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <header class="header-section">
        <div class="header-bottom">
            <div class="container">
                <a href="/Anasayfa" class="site-logo">
                    <img class="navbar-logo" src="~/Content/img/MetinToka1.png" />
                </a>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
                <ul class="main-menu">
                    <li><a href="/Anasayfa">Anasayfa</a></li>
                    <li><a href="/Hakkımızda">Hakkımızda</a></li>
                    <li><a href="/Ürünler">Ürünler</a></li>
                    <li><a href="/Kataloglar">Kataloglar</a></li>
                    <li><a href="/İletişim">İletişim</a></li>
                </ul>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer class="footer-section set-bg text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-sm-12 footer-cover">
                    <div class="footer-logo-cover">
                        <img class="footer-logo" src="~/Content/img/MetinToka1.png" alt="footer-logo">
                    </div>
                    <div class="footer-social text-lg-left">
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 text-lg-right">
                    <ul class="footer-menu">
                        <li><a href="/Anasayfa">Anasayfa</a></li>
                        <li><a href="/Hakkımızda">Hakkımızda</a></li>
                        <li><a href="/Ürünler">Ürünler</a></li>
                        <li><a href="/Kataloglar">Kataloglar</a></li>
                        <li><a href="/İletişim">İletişim</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- ========================= JAVASCRİPT =========================================================-->
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
<script src="~/Content/js/Site.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/main.js"></script>
    <!-- =======================================================================================-->
</body>
</html>