@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewBag.Kimlik.Title</title>
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">*@
    <!-- ========================= Meta Etiketleri ===========================================-->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="@ViewBag.Kimlik.Keywords" />
    <meta content="@Html.Raw(ViewBag.Kimlik.Description)" name="descriptison">
    <!-- ======================================================================================-->
    <!-- ========================= Kimlik =====================================================-->
    <link href="@ViewBag.Kimlik.LogoURL" rel="icon">
    <link href="@ViewBag.Kimlik.LogoURL" rel="apple-touch-icon">
    <!-- ======================================================================================-->
    <!-- ========================= Font =======================================================-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fcd59919ba.js" crossorigin="anonymous"></script>
    <!-- =======================================================================================-->
    <!-- ========================= CSS =========================================================-->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <!-- =======================================================================================-->
    <!-- ========================= CSS =========================================================-->
    <!-- WhatsApp ekleme -->
    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "+90 5323324082", // WhatsApp numarası
                call_to_action: "Merhaba, nasıl yardımcı olabilirim?", // Görüntülenecek yazı
                position: "left", // Sağ taraf için 'right' sol taraf için 'left'
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
    <!-- WhatsApp ekleme -->
    <!-- =======================================================================================-->
</head>
<body id="top">

    <!-- ====== preloder ======-->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- ==================-->
    <!-- ====== Menü ======-->
    <header class="header-section">
        <div class="header-bottom">
            <div class="container">
                <a href="/Anasayfa" class="site-logo">
                    <img class="navbar-logo" src="~/Content/img/MetinToka1.png" />
                </a>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
                <ul class="main-menu">
                    <li><a href="/Anasayfa">Anasayfa</a></li>
                    <li><a href="/Hakkımızda">Hakkımızda</a></li>
                    <li><a href="/Ürünler">Ürünler</a></li>
                    <li><a href="/Kataloglar">Kataloglar</a></li>
                    <li><a href="/İletişim">İletişim</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- ==================-->

    @RenderBody()

    <!-- ====== Footer ======-->
    <footer class="footer-section set-bg text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-sm-12 footer-cover">
                    <div class="footer-logo-cover">
                        <img class="footer-logo" src="~/Content/img/MetinToka1.png" alt="footer-logo">
                    </div>
                    <div class="footer-social text-lg-left">
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 text-lg-right">
                    <ul class="footer-menu">
                        <li><a href="/Anasayfa">Anasayfa</a></li>
                        <li><a href="/Hakkımızda">Hakkımızda</a></li>
                        <li><a href="/Ürünler">Ürünler</a></li>
                        <li><a href="/Kataloglar">Kataloglar</a></li>
                        <li><a href="/İletişim">İletişim</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    @*<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>*@
    <!-- ==================-->
    <!-- ========================= JAVASCRİPT =========================================================-->
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/main.js"></script>
    <!-- =======================================================================================-->

</body>
</html>