@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewBag.Kimlik.Title</title>
    <meta name="keywords" content="@ViewBag.Kimlik.Keywords" />
    <meta content="@Html.Raw(ViewBag.Kimlik.Description)" name="descriptison">

    <link href="@ViewBag.Kimlik.LogoURL" rel="icon">
    <link href="@ViewBag.Kimlik.LogoURL" rel="apple-touch-icon">

    <link href="~/Content/img/favicon.ico" rel="shortcut icon" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700" rel="stylesheet">
    <!-- Stylesheets -->
    <script src="https://kit.fontawesome.com/fcd59919ba.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />


    @*@Styles.Render("~/css/layout")*@

</head>

<body id="top">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section">
        <div class="header-bottom">
            <div class="container">
                <a href="/Anasayfa" class="site-logo">
                    <img src="~/Content/img/logo.png" alt="">
                </a>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
                <ul class="main-menu">
                    <li><a href="/Anasayfa">Anasayfa</a></li>
                    <li><a href="/Home/Hakkimizda">Hakkımızda</a></li>
                    <li><a href="/Home/Urun">Ürünler</a></li>
                    <li><a href="/Iletisim">İletişim</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Header section end -->

    @RenderBody()

    <!-- Footer section  -->
    <footer class="footer-section set-bg" data-setbg="~/Content/img/footer-bg.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-logo">
                        <img src="~/Content/img/logo.png" alt="">
                    </div>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <ul class="footer-menu">
                        <li><a href="/Anasayfa">Anasayfa</a></li>
                        <li><a href="/Home/Hakkimizda">Hakkımızda</a></li>
                        <li><a href="/Home/Urun">Ürünler</a></li>
                        <li><a href="/Iletisim">İletişim</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->
    @*@Scripts.Render("~/script/layout")*@


    <!-- JS here -->
    <!--====== Javascripts & Jquery ======-->
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/main.js"></script>
</body>

</html>